<section class="o-articles-part">
    <div class="o-articles-part__content">
        {{>@article}}
        {{>@article}}
        {{>@article--video}}
        {{>@article--video}}
        {{>@article}}
        {{>@article}}
    </div>
    <div class="o-articles-part__pagination">
        {{>@pagination}}
    </div>
</section>