<div class="a-link--nav-item m-nav-list m-nav-list--reversed">
    {{> @link--nav-item}}
    {{> @link--nav-item}}
    {{> @link--nav-item}}
    {{> @link--nav-item}}
    {{> @link--nav-item}}
</div>

