<nav class="m-pagination">
    {{>@link--icon}}
    <ul>
        {{>@link--number}}
        {{>@link--number-colored}}
        {{>@link--number}}
        {{>@link--number}}
        {{>@link--number}}
    </ul>
    {{>@link--icon}}
</nav>