<div class="m-select">
    <label for="filter-select">Filtrer</label>
    <select id="filter-select">
        <option value="newest">Les plus récents</option>
        <option value="oldest">Les plus anciens</option>
        <option value="most-commented">Les plus commentés</option>
    </select>
</div>