<form class="m-select" action="" method="">
    <label for="filter-input">Lorem ipsum</label>
    <div class="selectbox selectbox--active" data-option="">
        <div class="selectbox__displayWord">
            Lorem ipsum
        </div>
        <div class="option-container">
            <div class="option-container__option">
                <input type="radio" class="option__radio" id="newest" name="category">
                <label class="option__label" for="newest" data-value="category">Lorem ipsum</label>
            </div>
            <div class="option-container__option">
                <input type="radio" class="option__radio" id="most-commented" name="category">
                <label class="option__label" for="most-commented" data-value="category">Lorem ipsum</label>
            </div>
            <div class="option-container__option">
                <input type="radio" class="option__radio" id="oldest" name="category">
                <label class="option__label" for="oldest" data-value="category">Lorem ipsum</label>
            </div>
        </div>
    </div>
</form>