<main class="l-testimonies">
{{>@header}}

    <div class="l-testimonies__main">
        {{>@main-title}}
        {{>@intro}}
        <div class="l-testimonies__research">
            {{>@input}}
            {{>@select}}
            <span></span>
        </div>
        {{>@articles-part}}
        {{>@cta}}
    </div>

{{>@footer}}
</main>