<main class="l-testimonies">
    {{>@header}}

    <div class="l-testimonies__main">
        {{>@main-title}}
        {{>@intro}}
        <span>
            {{>@input}}
        </span>
        <span>
            {{>@select}}
        </span>
        {{>@articles-part}}
        {{>@cta}}
    </div>

    {{>@footer}}
</main>