<article class="m-article">
    <a href="#" class="m-article-link">
        <figure class="thumbnail">
            {{>@image--article}}
        </figure>
            {{>@title--level2-medium}}         
    </a>
    {{>@link--icon}}
</article>