<article class="m-article m-article--video">
    {{>@link--icon}}
    <a href="#" class="thumbnail">
        {{>@image--article}} 
    </a>
    {{>@title--level2-medium}}
    {{>@link--icon}}
</article>