<form class="m-input m-input--footer" action="" method="">
  <label for="search-input">Recevez par mail les premiers témoignages</label>
  <div>
    <input type="text" id="search-input" name="search-input" placeholder="Votre adresse e-mail">
    <button type="submit"> {{>@icon}} </button>
  </div>
</form>