<form class="m-input" action="" method="">
  <label for="search-input">Lorem ipsum</label>
  <div>
    <input type="text" id="search-input" name="search-input" placeholder="Lorem ipsum...">
    <button type="submit"> {{>@icon}} </button>
  </div>
  
</form>