.u-red {
    color: var(--colorRed);
}

.u-orange {
    color: var(--colorOrange);
}

.u-yellow {
    color: var(--colorYellow);
}

.u-pink {
    color: var(--colorPink);
}

.u-purple {
    color: var(--colorPurple);
}

.u-blue {
    color: var(--colorBlue);
}

.u-cyan {
    color: var(--colorCyan);
}

.u-green {
    color: var(--colorGreen);
}