:root {
  --colorTextMain: #2D3436;
  --colorTextMainLight: #B2BEC3;
  --colorTextSecondary: #636E72;
  --colorTextSecondaryLight: #DFE6E9;
  --colorTextWhite: #fafafa;

  --colorRed: #ed0661;
  --colorRedLight: #FF7675;

  --colorOrange: #E17055;
  --colorOrangeLight: #FAB1A0;

  --colorYellow: #FDCB6E;
  --colorYellowLight: #FFEAA7;

  --colorPink: #E84393;
  --colorPinkLight: #FD79A8;

  --colorPurple: #6C5CE7;
  --colorPurpleLight: #A29BFE;

  --colorBlue: #0984E3;
  --colorBlueLight: #74B9FF;

  --colorCyan: #00CEC9;
  --colorCyanLight: #81ECEC;

  --colorGreen: #00B894;
  --colorGreenLight: #55EFC4;

}

.u-red {
  & a {
    color: var(--colorRed);
  }

  fill: var(--colorRed);
}