@mixin font($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font('DancingScript', '../assets/fonts/DancingScript/DancingScript-Bold.ttf', bold, normal);
@include font('GillSans', '../assets/fonts/GillSans/GillSans-Bold.otf', bold, normal);
@include font('GillSans', '../assets/fonts/GillSans/GillSans-Medium.otf', medium, normal);
@include font('GillSans', '../assets/fonts/GillSans/GillSans.otf', normal, normal);
@include font('GillSans', '../assets/fonts/GillSans/GillSans-Light.otf', lighter, normal);
@include font('ITCSlimbach', '../assets/fonts/ITCSlimbach/ITCSlimbach-Bold.otf', bold, normal);
@include font('ITCSlimbach', '../assets/fonts/ITCSlimbach/ITCSlimbach-Book.otf', normal, normal);
@include font('ITCSlimbach', '../assets/fonts/ITCSlimbach/ITCSlimbach-BookItalic.otf', lighter, italic);

:root {
  --fontFamilyTitle: DancingScript, sans-serif;
  --fontFamilyMain: GillSans, sans-serif;
  --fontFamilyArticles: ITCSlimbach, serif;

  --fontSizeH1: 96px;
  --fontSizeH2: 48px;
  --fontSizeH3: 36px;
  --fontSizeH4: 24px;
  --fontSizeH5: 21px;
  --fontSizeH6: 18px;
  --fontSizeMain: 16px;
  --fontSizeSubtitle: 14px;
  --fontSizeSmall: 12px;

  //MOBILE FONT SIZE
  @include small {
    --fontSizeH1: 48px;
    --fontSizeH2: 36px;
    --fontSizeH3: 30px;
    --fontSizeH4: 28px;
    --fontSizeH5: 24px;
    --fontSizeH6: 21px;
    --fontSizeMain: 16px;
    --fontSizeSubtitle: 14px;
    --fontSizeSmall: 12px;
  }

  --lineHeightMain: 1.5;
  --lineHeightLarge: 2;
}