:root {
  --borderRadiusSmall: 8px;
  --borderRadiusLarge: 20px;
  --transitionDuration: 0.2s;
  --boxShadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  --articleItemWidth: 300px;
  --articleItemHeight: 300px;
}