
.m-nav-list {
    display: block;

    &>* {
        margin: var(--spaceM) var(--spaceL);
    }

    @include medium {
        display: flex;
        flex-wrap: wrap;
    }
}

.m-nav-list--reversed {
    &>*>* {
        color: var(--colorWhite);
    }
}