.m-pagination{
    display: flex;
    justify-content: space-between;
    &>ul{
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    &>ul>*{
        text-align: center;
    }
}