<header class="o-header">
  {{> @logo}}
  {{> @logo--desktop}}

  <div class="o-header--small">
    {{> @menu-icon}}
  </div>

  <div class="o-header--large">
    {{> @menu-desktop}}
  </div>
</header>
