<!--Only on mobile and tablet version-->
<header class="o-header o-header--mobile">
  {{> @logo}}

  <div class="o-header--mobile-small">
    {{> @menu-icon}}
    {{> @menu-mobile}}
  </div>

</header>
