.a-button {
    display: inline-block;
    border-radius: var(--borderRadiusLarge);
    background-color: var(--colorYellow);
    padding: var(--spaceS) var(--spaceXL);
    box-shadow: var(--boxShadow);
}

.a-button--nav {
    background-color: var(--colorGreen);
    padding: var(--spaceS) var(--spaceL);
}

.a-button--footer {
    background-color: var(--colorRedLight);
    padding: var(--spaceS) var(--spaceL);
}