.a-link {
    text-decoration: none;
    font-size: var(--fontSizeMain);
    font-family: var(--fontFamilyMain);
}

.a-link--icon {
    transition: transform var(--transitionDuration),
      opacity var(--transitionDuration);
    will-change: transform, opacity;
  
    &:hover {
      transform: scale(1.2);
      opacity: 0.7;
    }
}

.a-link--nav-item {
    display: flex;
    align-items: center;

    &>* {
        margin: var(--spaceXS);
    }
}


