.a-title {
  font-size: var(--fontSizeH2);
  font-family: var(--fontFamilyMain);
  color: var(--colorRed);
  font-weight: bold;
}

.a-title--level1 {
  font-size: var(--fontSizeH1);
  font-family: var(--fontFamilyTitle);
}