<footer class="o-footer">
  {{> @horizontal-rule }}
    <div class="o-footer__content">
    {{> @logo }}
    {{> @newsletter }}
    {{> @menu-footer }}
    {{> @menu-footer--about }}
    </div>
  {{> @paragraph--short-small }}
</footer>
